.header{
	display: flex;
	height: 80px;
	background-color: #7dbcea;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}
.header h1{
	color: #fff;
}
.topics{
	padding: 0 10px;
}
.topic{
	display: flex;
	padding: 5px 0;
}
.topic>img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid #eee;
	margin-right: 10px;
	flex-shrink: 0;
}
.topic>div{
	flex-grow: 1;
	overflow: hidden;
	white-space: nowrap;
}
.topic h3{
	text-overflow: ellipsis;
	overflow: hidden;
}
.topic .tab{
	background-color: #ffc107;
	margin-right: 10px;
	padding: 0 4px;
	border-radius: 2px;
	color: #fff;
}

/*返回顶部样式*/
.ant-back-top {
  right: 40px !important;
}

.topic-desc{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
	border-bottom: 1px solid #777;
	padding-bottom: 10px;
	font-size: 18px;
}
/*文章样式*/
.topic-wrap{
	line-height: 1.7;
}
.topic-wrap img{
	width: 100%;
}
.comments{
	display: flex;
}
.comments>span{
	flex-shrink: 0;
	margin-right: 10px;
}
.comments-right{
	flex-grow: 1;
}
.comments-header{
	display: flex;
	justify-content: space-between;
}